{
"DATABASES":{
	"default": {
        	"ENGINE": "django.db.backends.postgresql_psycopg2",
        	"NAME": "crm",
        	"USER": {{ .makane.vetrina.db.local.user | quote }},
        	"PASSWORD": {{ .makane.vetrina.db.local.password | quote }},
        	"HOST": {{ .makane.vetrina.db.local.host | quote }},
        	"PORT": {{ .makane.vetrina.db.local.port }}
    		}
	},
 "API_KEY_HEADER": {
        "key": {{ .makane.vetrina.crm.api_key_header | quote }}
    }
}
