[pull]
	rebase = false
[user]
	email = "code.karim@gmail.com"
	name = Karim Khaleel
[core]
  pager = delta
  editor = nvim
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[init]
  defaultBranch = main
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
