{
    "ALLOWED_HOSTS": [
        "*",
        "store-uega"
    ],
    "DEBUG": true,
    "DEBUG_SMS": false,
    "SEND_EMAIL": false,
    "SECRET_KEY": {{ .makane.vetrina.secrets.secret_key | quote }},
    "DASHBOARD_HOST": "localhost:8000",
    "DASHBOARD_ORIGIN": "localhost:8000",
    "DASHBOARD_ROOT_URL": "http://localhost:8000",
    "SQLITE3_DB_PATH": "/data/vetrina/db.sqlite3",
    "DEMO_STORE_FILE": "/home/karim/Work/vetrina/demo/store/electronics.json",
    "PLATFORM_API_KEY_SHA256": {{ .makane.vetrina.secrets.platform_api_key_sha256 | quote }},
    "PRODUCT_IMAGE_BASE": {
        "cdn": {{ .makane.vetrina.secrets.cdn | quote }},
        "origin": {{ .makane.vetrina.secrets.origin | quote }}
    },
    "STORE_HOST_TEMPLATE": "%s.vetrina:8000",
    "SENDGRID_API_KEY": {{ .makane.vetrina.secrets.sendgrid_api_key | quote }},
    "TEMPLATE_CONSTANTS": {
        "GMAPS_API_KEY": {{ .makane.vetrina.secrets.gmaps_api_key | quote }}
    },
    "CART_BASE_URI": "",
    "OPEN_EXCHANGE_RATES_API_KEY": {{ .makane.vetrina.secrets.open_exchange_rates_api_key | quote }},
    "S3": {
        "endpoint_url": {{ .makane.vetrina.aws.endpoint_url | quote }},
        "aws_access_key_id": {{ .makane.vetrina.aws.key_id | quote }},
        "aws_secret_access_key": {{ .makane.vetrina.aws.secret_access_key | quote }}
    },
    "DATABASES": {
        "default": {
        	"ENGINE": "django.db.backends.postgresql_psycopg2",
        	"NAME": "vetrina",
        	"USER": {{ .makane.vetrina.db.local.user | quote }},
        	"PASSWORD": {{ .makane.vetrina.db.local.password | quote }},
        	"HOST": {{ .makane.vetrina.db.local.host | quote }},
        	"PORT": {{ .makane.vetrina.db.local.port }}
    		}
    },
    "ENCRYPTION_KEY": {{ .makane.vetrina.secrets.encryption_key | quote }},
    "DASHBOARD_ORIGIN_S": "",
    "PORTIA": {
        "URL": {{ .makane.vetrina.portia.url | quote }},
        "USERNAME": {{ .makane.vetrina.portia.username | quote }},
        "PASSWORD": {{ .makane.vetrina.portia.password | quote }},
        "PATHS": {
            "LOGIN": "vetrina/login",
            "TENANT-ORGANIZATION": "vetrina/tenant-organization",
            "TENANT-ORDERS": "vetrina/enable-orders",
            "TENANT-ADDRESS": "vetrina/tenant-address",
            "DELIVERY-PROVIDER": "vetrina/user"
        },
        "USER_KEY": "email",
        "TOKEN_KEY": "token"
    },
    "PORTIA_MULTITENANCY": {
        "URL": {{ .makane.vetrina.portia.url | quote }},
        "USERNAME": {{ .makane.vetrina.portia.username | quote }},
        "PASSWORD": {{ .makane.vetrina.portia.password | quote }},
        "USER_KEY": "email",
        "TOKEN_KEY": "token",
        "PATHS": {
            "LOGIN": "system/login",
            "ORDERS": "orders"
        }
    },
    "REST_FRAMEWORK": {
        "EXCEPTION_HANDLER": "store.apis.base.views._base.exception_handler",
        "DEFAULT_AUTHENTICATION_CLASSES": "rest_framework_simplejwt.authentication.JWTAuthentication",
        "DEFAULT_VERSIONING_CLASS": "rest_framework.versioning.NamespaceVersioning"
    },
    "NOTIFICATION_SERVICE": {
        "URL": "localhost:3000/api",
        "API_KEY": {{ .makane.vetrina.notification_service.api_key | quote }}
    },
    "API_KEY_HEADER": {
        "key": {{ .makane.vetrina.secrets.api_key_header | quote }}
    },
    "x_api_key": {{ .makane.vetrina.secrets.x_api_key | quote }},
    "CONTACT_INFORMATION": {
        "WHATSAPP": {
            "DEFAULT": {{ .makane.vetrina.contact.whatsapp | quote }}
        },
        "PHONES": {
            "DEFAULT": {{ .makane.vetrina.contact.phones.default | quote }},
            "REGIONS": {
                "SA": {{ .makane.vetrina.contact.regions.sa | quote }},
                "AE": {{ .makane.vetrina.contact.regions.ae | quote }},
                "JO": {{ .makane.vetrina.contact.regions.jo | quote }}
            }
        },
        "EMAILS": {
            "SUPPORT": {{ .makane.vetrina.contact.emails | quote }}
        }
    },
    "ACTIVE_SESSION_LIMIT": 4,
    "MOBILE_APP_TEST_PHONE_NUMBER": {{ .makane.vetrina.contact.test_phone_number | quote }},
    "TEST_STORE_USER": {
        "PHONE": "+962777777777",
        "EMAIL": "test@makane.com",
        "OTP": "1234",
        "PASSWORD": "123456"
    },
    "CAROUSELS_SLUGS": [
        "new-arrivals",
        "best-deals",
        "ala"
    ],
    "EMAIL_SETTINGS": {
        "DEFAULT": {
            "NAME": "MakanE",
            "EMAIL": "hello@makane.info"
        },
        "SHOPPER": {
            "NAME": "{}",
            "EMAIL": "{}@makane.info"
        }
    },
    "AWS_CLIENT": {
        "aws_access_key_id": {{ .makane.vetrina.aws.client.key_id | quote }},
        "aws_secret_access_key": {{ .makane.vetrina.aws.client.secret_access_key | quote }},
        "region_name": {{ .makane.vetrina.aws.client.region_name | quote }}
    },
}
