{
    "ALLOWED_HOSTS": [
        "*"
    ],
    "DEBUG": true,
    "SECRET_KEY": {{ .makane.vetrina.notification_service.secret_key | quote }},
    "SNS": {
        "aws_access_key_id": {{ .makane.vetrina.notification_service.aws.sns.key_id | quote }},
        "aws_secret_access_key": {{ .makane.vetrina.notification_service.aws.sns.secret_access_key | quote }},
        "region_name": {{ .makane.vetrina.notification_service.aws.sns.region_name | quote }}
    },
    "APNS": {
        "PlatformCredential": {{ .makane.vetrina.notification_service.apns.platform_credential | quote }},
        "PlatformPrincipal": {{ .makane.vetrina.notification_service.apns.platform_principal | quote }},
        "ApplePlatformTeamID": {{ .makane.vetrina.notification_service.apns.platform_team_id | quote }}
    },
    "API_KEY_HEADER": {
        "key": {{ .makane.vetrina.notification_service.api_key_header | quote }}
    },
    "DASHBOARD_API_URL": "http://api.localhost:8000",
    "DASHBOARD_API_KEY": {{ .makane.vetrina.notification_service.dashboard.api_key | quote }},
    "DATABASES": {
        "default": {
        	"ENGINE": "django.db.backends.postgresql_psycopg2",
        	"NAME": "notfs",
        	"USER": {{ .makane.vetrina.db.local.user | quote }},
        	"PASSWORD": {{ .makane.vetrina.db.local.password | quote }},
        	"HOST": {{ .makane.vetrina.db.local.host | quote }},
        	"PORT": {{ .makane.vetrina.db.local.port }}
    		}
    },
    "ENCRYPTION_KEY": "",
    "HMS": {
        "grantType": "client_credentials",
        "TokenUrl": "https://oauth-login.cloud.huawei.com/oauth2/v3/token"
    },
    "x-api-key": {{ .makane.vetrina.notification_service.x_api_key | quote }}
}
